/LehenFXMLProiektua/target/
/JavaFXApplicationWithFXML/nbproject/private/
/UD0/First/nbproject/private/
/UD0/Ikasleak/build/
/UD0/Ikasleak/dist/
/UD0/Ikasleak/nbproject/private/
/UD0/Kalkulagailua/nbproject/private/
/UD0/Kalkulagailua/dist/
/UD1/IOStreamsTutoriala/nbproject/private/
/UD1/IOStreamsTutoriala/build/
/UD1/IOStreamsTutoriala/dist/
/UD1/CsvKontsola/nbproject/private/
/UD1/CsvKontsola/build/
/UD1/CsvKontsola/dist/
/UD0/Ikasleak1/build/
/UD0/Ikasleak1/nbproject/private/
/UD1/XmlFitxategiak/nbproject/private/
/UD1/XmlFitxategiak/build/
/UD1/Pruebas/nbproject/private/
/UD1/Pruebas/build/
/UD1/JsonFitxategiak/nbproject/private/
/UD1/JsonFitxategiak/build/
/UD1/JavaApplication5/build/
/UD1/JavaApplication5/nbproject/private/
/UD1/2020-11-05Jorge/build/
/UD2/JavaApplication6/nbproject/private/
/UD2/JDBCOinarrizkoMetodoak/nbproject/private/
/UD2/JDBCOinarrizkoMetodoak/build/
/UD2/ORM-MendienProiektua/nbproject/private/
/UD2/ORM-MendienProiektua/build/
/UD2/ORM-MendienProiektua/dist/
/UD2/ORM-Proiektua/nbproject/private/
/UD2/ORM-Proiektua/build/
/UD2/ORM-Proiektua/dist/
